body {
  margin: 0px;
  width: 100vw;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

h4 {
  font-size: 1.35em;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: lighter;
}

.grey-border {
  border-style: solid;
  border-color: grey;
  border-radius: 3px;
  border-width: 1px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-icon {
  margin: 5px;
  color: black;
}

.nav-group {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5em;
  height: 100%;
}

.nav-icon:hover {
  color: rgb(10, 10, 85);
}

.nav-left {
  left: 0px;
}

.nav-right {
  right: 0px;
}

.color1 {
  color: black;
}

.color2-bg {
  background-color: #e5e5e5;
}

.card:hover {
  box-shadow: 0 2px 8px 0 rgb(94, 94, 94);
}

.card {
  position: relative;
  border-style: solid;
  border-color: grey;
  box-shadow: 0 2px 8px 0 rgb(169,169,169);
  border-radius: 3px;
  border-width: 1px;
  height: 350px;
  width: 250px;
}

.card-img {
  position: absolute;
  border-style: solid;
  border-color: grey;
  border-radius: 3px;
  border-width: 1px;
  top: 10px;
  left: 10px;
  width: 230px;
  height: 200px;
}

.card-title {
  position: absolute;
  font-weight: lighter;
  font-size: 1.25em;
  top: 220px;
  left: 10px;
  margin: 0px;
}

.card-text {
  font-size: .95em;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 250px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0px;
}

.primary {
  color: #000000;   
}

.page {
  position: fixed;
  top: 18%;
  left: 10%;
  right: 10%;
}

.nav-box-item:hover {
  background-color: #e5e5e5;
}

.nav-box-item {
  text-align: center;
  font-weight: bolder;
  z-index: 1000;
  background-color: white;
  opacity: 1;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.left-nav-btns {
  padding: 5px;
  border-radius: 5px;
  font-weight: lighter;
}

#projects-btn {
  margin-left: 10px;
}

.left-nav-btns:hover {
  background-color: darkgray;
}

#nav-bar {
  top: 0px;
  height: 70px;
  left: 10%;
  right: 10%;
  position: fixed;
}

#projects-page {
  visibility: hidden;
  text-align: center;
  margin: 5px;
}

#project-display {
  position: absolute;
  visibility: hidden;
  z-index: 1001;
  background-color: rgba(0, 0, 0, .9);
  top: 0;
  bottom: 0;
  width: 100%;
}

#project-detail {
  position: relative;
  z-index: 1002;
  background-color: rgb(255, 255, 255, 1);
  width: 70%;
  height: 80%;
  top: 10%;
  left: 15%;
  border-style: solid;
  border-color: grey;
  box-shadow: 0 1px 2px 0 rgb(169,169,169);
  border-radius: 3px;
  border-width: 1px;
  max-height: 390px;
  min-height: 350px;
}

#main-page {
  visibility: visible;
}

#main-text {
  padding: 7px;
  width: 70%;
}

#project-detail-img {
  height: 250px;
  width: 45%;
  position: absolute;
  left: 10px;
}

#project-display-title {
  width: 340px;
  text-align: center;
  font-weight: lighter;
}

#project-description {
  position: relative;
  top: 0;
  left: 47%;
  width: 50%;
  margin: 10px;
  max-height: 150px;
}

#description-header {
  margin-bottom: 0px;
}

#description {
  margin-top: 10px;
  padding-bottom: 20px;
}

#project-tech {
  position: absolute;
  top: 304px;
  left: 47%;
  margin: 10px;
  margin-top: 0px;
  width: 25%;
}

#project-link {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 304px;
  right: 2%;
  margin: 0px;
  width: 25%;
}

#link-text {
  margin: 0;
  display: inline-block;
}

#project-gh-link {
  margin-left: 10px;
}